@import '../../style/_vars.scss';

.category-item {
	height: 6rem;
	font-size: 1.7rem;
	text-transform: capitalize;
	width: 100%;
	border-bottom: solid $color-tertiary 0.1rem;
	&__body {
		display: inline-block;
		width: calc(100% - 6rem);
		height: 6rem;
		cursor: pointer;
	}
	&__icon {
		display: inline-block;
		height: 100%;
		width: 6rem;
		i {
			margin-left: 50%;
			transform: translateX(-50%);
		}
	}
	&__text {
		display: inline-block;
		height: 100%;
		p {
			margin-top: 2rem;
			margin-left: 3rem;
		}
	}
	&__arrow_up {
		float: right;
		height: 100%;
		width: 6rem;
		opacity: 0.8;
		transition: 0.5s;
		cursor: pointer;
		&:hover {
			opacity: 1;
		}
		i {
			margin-top: 2rem;
			margin-left: 2.6rem;
		}
	}
}
