@import '../../style/_vars.scss';

.right-slide-in {
	position: absolute;
	top: 17rem;
	left: 100vw;
	width: calc(100vw - 6rem);
	background-color: $color-secondary;
	z-index: 3;
	transition: 0.5s;
	border-left: solid $color-tertiary 0.1rem;
	&__title {
		background-color: $color-tertiary;
		height: 6rem;
		p {
			display: inline-block;
			margin-top: 2rem;
			margin-left: 2rem;
			color: #fff;
			font-size: 1.7rem;
			opacity: 1;
			transition: all 0.4s;
			text-transform: uppercase;
		}
		i {
			position: absolute;
			top: 2rem;
			right: 2rem;
			float: right;
			font-size: 1.7rem;
			cursor: pointer;
		}
	}
}

.right-slide-in.open {
	position: absolute;
	left: 6rem;
}

p.fadein {
	animation: fadeInText 0.5s ease-out 0.4s;
	animation-fill-mode: backwards;
}
