@import '../../style/_vars.scss';

.section-item {
	height: 6rem;
	font-size: 1.7rem;
	text-transform: uppercase;
	width: 100%;
	border-bottom: solid $color-tertiary 0.1rem;
	transition: all 0.4s;
	&__body {
		display: inline-block;
		width: calc(100% - 6rem);
		height: 6rem;
		cursor: pointer;
	}
	&__icon {
		display: inline-block;
		height: 100%;
		width: 6rem;
		i {
			margin-top: 2rem;
			margin-left: 50%;
			transform: translateX(-50%);
		}
	}
	&__text {
		display: inline-block;
		p {
		}
	}
	&__arrow_right {
		float: right;
		height: 100%;
		width: 6rem;
		opacity: 0.8;
		transition: 0.5s;
		background-color: $color-tertiary;
		cursor: pointer;
		&:hover {
			opacity: 1;
		}
		i {
			margin-top: 2rem;
			margin-left: 2.6rem;
		}
	}
}

.section-item.fadein {
	animation: fadeInText 1s ease-out 0.65s;
	animation-fill-mode: backwards;
}
